streamlit

python-dotenv

mistralai

langchain
langchain-core
langchain-community
langchain-mistralai
langchain-huggingface
langchain-text-splitters

chromadb

sentence-transformers
transformers
torch

pypdf
python-docx
unstructured

requests

pydantic

Pillow
